[submodule "gateway-base"]
	path = roles/sg-base
	url = git@github.com:SimpleGateway/sg-base.git
[submodule "roles/preseed-overlay"]
	path = roles/sg-pxeboot
	url = git@github.com:SimpleGateway/sg-pxeboot.git
